.linear_btn {
  padding: 0.1067rem 0.2067rem;
  text-align: center;
  line-height: 0.5067rem;
  background: -webkit-linear-gradient(
      left,
      #fff800,
      #fef200,
      #fccc00,
      #fbbc00
  );
  color: #1d1d1d;
  border-radius: 0.08rem;
  font-size: 0.32rem;
}