// 主页标题
.homeTitle() {
    font-size: 0.4267rem;
    font-weight: 900;
    color: #333;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-top: 0.0267rem;
    box-sizing: border-box; 
    margin-right: 0.2267rem;
    float: left;
    font-family: "PingFang-SC-Regular";
    box-sizing: border-box;
}

//主页标题大容器
.titleWrapper() {
    margin-top: 0.1333rem;
    background-color: #fff;
}

//主页标题小容器
.title() {
    margin-left: 0.4rem; // display: flex;
}

//标题描述
.titleDesc() {
    float: left;
    width: 4.16rem;
    height: 0.36rem;
    line-height: 1.5;
    font-family: "PingFang-SC-Regular";
    color: #9f9f9f;
    font-size: 0.35rem; // padding-top: 0.1rem;
}

.online {
    font-size: 0.2933rem;
    color: #414141;
    position: absolute;
    top: 1.42rem;
    right: 0.5067rem;
}

.dialogTitle() {
    font-size: 0.3733rem;
    color: #414141;
    font-weight: bold;
    font-family: 'PingFang-SC-Bold';
    text-align: left;
    padding-left: 0.2133rem;
}

.dialogP {
    font-size: 0.3467rem;
    color: #666;
    font-family: 'PingFang-SC-Bold';
    text-align: left;
    padding-left: 0.2133rem;
    margin-top: 0.1667rem;
}