.userInfo(@bg) {
    float: left;
    display: inline-block;
    width: 1.3333rem;
    height: 0.5333rem;
    line-height: 0.5333rem;
    // padding: 0.1rem 0.1333rem;
    background-color: @bg;
    text-align: center;
    border-radius: 0.0533rem;
    color: #fff;
    font-size: 0.32rem;
    margin-top: 0.04rem;
    margin-right: 0.1333rem;
    position: relative;
}

.baseInfo(@color) {
    color: @color;
    font-size: 0.3467rem;
}

.originBaseInfo(@color) {
    display: inline-block;
    width: 1.04rem;
    height: 0.4533rem;
    line-height: 0.4533rem;
    background-color: @color;
    text-align: center;
    border-radius: 0.1333rem;
    color: #fff;
}