.listTitleGroup() {
    .integralIcon {
        position: absolute;
        left: 0.5333rem;
        bottom: 0.1333rem;
        width: 0.4267rem;
        height: 0.4267rem;
    }
    .giftListpart_desc0 {
        position: absolute;
        top: 0.1333rem;
        left: 0.5rem;
        color: #F7C600;
    }
    .giftListpart_desc1 {
        position: absolute;
        top: .5833rem;
        left: 0.5rem;
        color: #F7C600;
    }
}